@model DataMarkup.ViewModels.MarkupTaskViewModel

<div class="container-fluid float-left mt-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label asp-for="Name"></label><br>
                <input class="form-control w-50" id="name" value="@Model.Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSolutions"></label><br>
                <input class="form-control w-50" id="maxSolutions"
                       value="@Model.MaxSolutions"/>
                <span asp-validation-for="MaxSolutions"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment"></label><br>
                <input class="form-control w-50" id="payment"
                       value="@Model.Payment"/>
                <span asp-validation-for="Payment"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instruction"></label><br>
                <textarea class="form-control w-75" rows="14" id="instruction">
                    @Model.Instruction
                </textarea>
                <span asp-validation-for="Instruction"></span>
            </div>
            
            @foreach (var row in Model.Questions
                .Select((question, index) => (question, index))
                .GroupBy(pair => pair.index / 4))
            {
                <div class="row">
                    @foreach (var (question, index) in row)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header font-weight-bold">@($"Question #{index + 1}")</div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p class="font-weight-bold">
                                                static content:
                                            </p>
                                            @question.StaticContent.CutIfMoreThan(20)
                                        </li>
                                        <li class="list-group-item">
                                            <p class="font-weight-bold">
                                                dynamic content regex:<br>
                                            </p>
                                            @question.DynamicContentConstraint.CutIfMoreThan(20)
                                        </li>
                                        <li class="list-group-item">
                                            <p class="font-weight-bold">
                                                answer description:<br>
                                            </p>
                                            @question.AnswerDescription.CutIfMoreThan(20)
                                        </li>
                                        <li class="list-group-item">
                                            <p class="font-weight-bold">
                                                answer regex:<br>
                                            </p>
                                            @question.AnswerConstraint.CutIfMoreThan(20)
                                        </li>
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input disabled @(question.ContainsImage ? "checked" : string.Empty)
                                                       class="form-check-input" type="checkbox"
                                                       id="@($"containsImage{index}")">
                                                <label class="form-check-label" for="@($"containsImage{index}")">
                                                    containt image
                                                </label>
                                            </div>
                                        </li>
                                        <button type="button" class="btn btn-light"
                                                onclick="copyId(@($"\"{question.Id}\""))">
                                            Copy id
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<script>
    function copyId(id) {
        navigator.clipboard.writeText(id);
    }
</script>